-var description_footer = "All items listed here are developed by third-party developers & redistributed under the terms of the General Public License (GPL). GPL Times is not affiliated or related to any of the third-party developers or trademark owners."

mixin list(title, h, c, ...items)
  h6.text-uppercase.fw-bold.mb-4.text-dark= title
  each item in items
    p
      a(href=h, class=c)= item

footer.text-center.text-lg-start.bg-light.text-muted.pt-5
  .container.text-center.text-md-start
    .row.mt-3
      .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
        h6.text-uppercase.fw-bold.mb-3.text-dark
          | Velbox
        .divider
        p.mt-3= description_footer
      .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
        +list('Services', '#', 'text-reset', 'Web Development', 'Digital Marketing', 'Graphic Design', 'Web Hosting')

      .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
        +list('About', '#', 'text-reset', 'Services', 'About Us', 'Pricing', 'Contact')

      .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
        h6.text-uppercase.fw-bold.mb-4.text-dark Contact
        p
          i.fas.fa-home.me-3
          | New York, NY 10012, US
        p
          i.fas.fa-envelope.me-3
          | Australia
        p
          i.fas.fa-phone.me-3
          | +888 123 45678
        p
          i.fas.fa-print.me-3
          | Info@example.com
div.text-center.p-4.bg-light(style="background-color: rgba(0, 0, 0, 0.05);")
  | © 2023 Copyright: 
  a.text-reset.fw-bold(href="/dist") Đinh Văn Giới
  |  All rights reserved
