extends ../layouts/default-layout.pug

block content
  section.banner.py-5
    include ../layouts/banner.pug

  section
    include ../layouts/feature.pug

  section
    include ../layouts/service.pug

  section
    include ../layouts/about.pug

  section
    include ../layouts/pricing.pug
