extends ../layouts/default-layout.pug

block content
  section.banner.py-5
    include ../components/homepage/banner.pug

  section
    include ../components/homepage/feature.pug

  section
    include ../components/homepage/service.pug

  section
    include ../components/homepage/about.pug

  section
    include ../components/homepage/pricing.pug
