doctype html
html
  head
    meta(charset='UTF-8')
    title My Website
    link(rel='stylesheet', href='./css/styles.css')
  body
    h1 Hello, World!
    p Welcome to my website.
    p hello website
