- var title_about = "Build Up Your Idea Into";

- var items = [ { number: '01', title: 'The right advice from experts', description: 'Our team are experts in matching you with the right provider.' }, { number: '02', title: 'Recognised for excellence services', description: "We've been awarded for our high rate of customer satisfaction." }, { number: '03', title: '100% Success rate Conversion', description: "We've been awarded for our high rate of customer satisfaction." } ]

.container.section-about.d-flex.flex-column.justify-content-center.align-items-center.mt-5.p-5.px-md-0.px-2
  .welcome_elbox.px-3.p-1.mb-5.mt-5 We are creative agency

  h2.fw-bold.text-dark.display-5= title_about
  h2.fw-bold.text-primary.display-6 Smart Solution

  .container.mt-5
    .row 
      each item, index in items
        .col-lg-4.d-flex.p-4.px-lg-4.px-0
          .number.text-light.d-flex.justify-content-center.align-items-center.fs-4= item.number
          .content
            h3.fw-bold.fs-4= item.title
            p= item.description

  .container.text-light.d-flex.flex-column.justify-content-center.align-items-center.mt-5.p-5.phone_free
    h3.fw-bold.fs-3 Get a free quick free business consultaion 
    p.fs-2.p-0 
      i.fa-solid.fa-phone 
      | +23 456 7890