.container.feature
  .row
    .col-md-6.col-lg-4
      .feature-item.p-5.mb-4.mg-lg-0
        i.fa-solid.fa-pen-ruler
        h2.fs-5.fw-bold.mt-3.mb-3 Precise Teamwork
        .divider
        p.mt-3 Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.
    .col-md-6.col-lg-4
      .feature-item.p-5.mb-4.mg-lg-0
        i.fa-solid.fa-pen-ruler
        h2.fs-5.fw-bold.mt-3.mb-3 Extending Creativity
        .divider
        p.mt-3 Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.
    .col-md-6.col-lg-4
      .feature-item.p-5.mb-4.mg-lg-0
        i.fa-solid.fa-pen-ruler
        h2.fs-5.fw-bold.mt-3.mb-3 Practical Approach
        .divider
        p.mt-3 Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.
