.container.section2.mb-5.d-flex.flex-column.justify-content-center.align-items-center.text-center.justify-content-lg-start.text-lg-start.align-items-lg-start
  .welcomeVelbox.px-3.p-1.mb-5.mt-5 Premium service solution

  h2.fw-bold.text-dark.display-5 Best Web Services For
  h2.fw-bold.text-primary.display-5 Effective Business

  .container.mt-5
    .row 
      .col-lg-6
        .row.p-2
          .col-12.d-flex.p-4.border.rounded
            <i class="fa-brands fa-wordpress"></i>
            .content
              h2.fw-bold.fs-5 Wordpress Development
              p Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had.
        .row.p-2
          .col-12.d-flex.p-4.border.rounded
            <i class="fa-solid fa-database"></i>
            .content
              h2.fw-bold.fs-5 Backup solution
              p Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had.

        .row.p-2 
          .col-12.d-flex.p-4.border.rounded
            <i class="fa-solid fa-cloud"></i>
            .content
              h2.fw-bold.fs-5 Cloud Hosting
              p Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had.

      .col-lg-6
        img.w-100(src="/assets/img/illustration-3.png" alt="" srcset="")