.container
  .row
    .col-md-7.d-flex.flex-column.justify-content-center.align-items-center.text-center.justify-content-md-start.text-md-start.align-items-md-start
      .welcomeVelbox.px-3.p-1.mb-5.mt-5 Welcome to Velbox
      h2.fw-bold.display-4.mb-3 Dedicated It support & business solution
      p.lead Velbox is a it and startup template and support pages aimed at helping companies promote new products and business launches.

      button.btn.button.text-light.text-center
        | Learn More 
        i.fa-solid.fa-angles-right
    .col-md-5
      img.w-100.h-auto(src="/assets/img/img-section1.png" alt="image section 1" srcset="")
