.container.d-flex.flex-column.justify-content-center.align-items-center.mt-5.p-5.px-md-0.px-2.section4
  .welcomeVelbox.px-3.p-1.mb-5.mt-5 Pricing plan

  h2.fw-bold.text-dark.display-5 Best Pricing Package
  h2.fw-bold.text-primary.display-6 Start Business

  .container
    .row
      .col-md-6.col-lg-4
        .best-pricing-item.p-5.mb-4.mg-lg-0
          i.fa-solid.fa-layer-group.fs-1.text-primary.px-0.pb-4
          h2.display-4.fw-bold 13$
          h2.fs-5.fw-bold.mt-3.mb-3 Starter License
          .divider
          .list.mt-3
            p.m-1 <i class="fa-solid fa-check"></i> 1 end product
            p.m-1 <i class="fa-solid fa-check"></i> Use for personal or a client
            p.m-1 <i class="fa-solid fa-check"></i> Use in a free end product
            p.m-1 <i class="fa-solid fa-check"></i> 6 months technical support
            p.m-1 <i class="fa-solid fa-check"></i> 24 Hours support
          button.btn.btn-primary.mt-4 Purchase Now
      .col-md-6.col-lg-4
        .best-pricing-item.p-5.mb-4.mg-lg-0
          i.fa-solid.fa-layer-group.fs-1.text-primary.px-0.pb-4
          h2.display-4.fw-bold 23$
          h2.fs-5.fw-bold.mt-3.mb-3 Standard License
          .divider
          .list.mt-3
            p.m-1 <i class="fa-solid fa-check"></i> 1 end product
            p.m-1 <i class="fa-solid fa-check"></i> Use for personal or a client
            p.m-1 <i class="fa-solid fa-check"></i> Use in a free end product
            p.m-1 <i class="fa-solid fa-check"></i> 6 months technical support
            p.m-1 <i class="fa-solid fa-check"></i> 24 Hours support
          button.btn.btn-primary.mt-4 Purchase Now
      .col-md-6.col-lg-4
        .best-pricing-item.p-5.mb-4.mg-lg-0
          i.fa-solid.fa-layer-group.fs-1.text-primary.px-0.pb-4
          h2.display-4.fw-bold 43$
          h2.fs-5.fw-bold.mt-3.mb-3 Extended License
          .divider
          .list.mt-3
            p.m-1 <i class="fa-solid fa-check"></i> 1 end product
            p.m-1 <i class="fa-solid fa-check"></i> Use for personal or a client
            p.m-1 <i class="fa-solid fa-check"></i> Use in a free end product
            p.m-1 <i class="fa-solid fa-check"></i> 6 months technical support
            p.m-1 <i class="fa-solid fa-check"></i> 24 Hours support
          button.btn.btn-primary.mt-4 Purchase Now

