.container.d-flex.flex-column.justify-content-center.align-items-center.mt-5.p-5.px-md-0.px-2.section3
  .welcomeVelbox.px-3.p-1.mb-5.mt-5 We are creative agency

  h2.fw-bold.text-dark.display-5 Build Up Your Idea Into
  h2.fw-bold.text-primary.display-6 Smart Solution

  .container.mt-5
    .row 
      .col-lg-4.d-flex.p-4.px-lg-4.px-0
        .number.text-light.d-flex.justify-content-center.align-items-center.fs-4 01
        .content
          h2.fw-bold.fs-4 The right advice from experts
          p Our team are experts in matching you with the right provider.

      .col-lg-4.d-flex.p-4.px-lg-4.px-0
        .number.text-light.d-flex.justify-content-center.align-items-center.fs-4 02
        .content
          h2.fw-bold.fs-4 Recognised for excellence services
          p We've been awarded for our high rate of customer satisfaction.

      .col-lg-4.d-flex.p-4.px-lg-4.px-0
        .number.text-light.d-flex.justify-content-center.align-items-center.fs-4 03
        .content
          h2.fw-bold.fs-4 100% Success rate Conversion
          p We've been awarded for our high rate of customer satisfaction.
  .container.text-light.d-flex.flex-column.justify-content-center.align-items-center.mt-5.p-5.phone_free
    h2.fw-bold.fs-3 Get a free quick free business consultaion 
    p.fs-2.p-0 <i class="fa-solid fa-phone"></i> +23 456 7890