- var title_banner = "Dedicated It support & business solution"
- var description = "Velbox is a it and startup template and support pages aimed at helping companies promote new products and business launches."

.container
  .row
    .col-md-7.d-flex.flex-column.justify-content-center.align-items-center.text-center.justify-content-md-start.text-md-start.align-items-md-start
      .welcome_elbox.px-3.p-1.mb-5.mt-5 Welcome to Velbox
      h1.fw-bold.display-4.mb-3= title_banner
      p.lead= description

      button.btn.button.text-light.text-center
        | Learn More 
        i.fa-solid.fa-angles-right
    .col-md-5
      img.w-100.h-auto(src="./assets/images/img-section1.png" alt="Dedicated It support & business solution")
