- var array_feature = { 'Precise Teamwork': 'Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.', 'Extending Creativity': 'Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.', 'Practical Approach': 'Vero ipsa, sint ducimus non dignissimos, dicta reprehenderit nobis provident laborum.' }

.container.feature
  .row
    each value, key in array_feature
      .col-md-6.col-lg-4
        .feature__item.p-5.mb-4.mg-lg-0
          i.fa-solid.fa-pen-ruler
          h3.fs-5.fw-bold.mt-3.mb-3= key
          .divider
          p.mt-3= value
